{% extends "base.html" %}

{% block title %}
Proveedores - Desarrollo Web
{% endblock %}

{% block content %}

<section class="py-5">

    <h2 class="text-center mb-5">
        Módulo de Proveedores
    </h2>

    <div class="row g-4">

        <div class="col-md-6">

            <div class="card p-4">

                <h4 class="text-primary">
                    Bootstrap
                </h4>

                <p>
                    Framework utilizado para crear
                    una interfaz responsive.
                </p>

                <p>
                    <strong>Servicio:</strong>
                    Framework CSS
                </p>

            </div>

        </div>


        <div class="col-md-6">

            <div class="card p-4">

                <h4 class="text-primary">
                    Unsplash
                </h4>

                <p>
                    Plataforma utilizada para obtener
                    imágenes para el proyecto.
                </p>

                <p>
                    <strong>Servicio:</strong>
                    Recursos gráficos
                </p>

            </div>

        </div>


        <div class="col-md-6">

            <div class="card p-4">

                <h4 class="text-primary">
                    JSDelivr
                </h4>

                <p>
                    CDN utilizado para cargar
                    Bootstrap.
                </p>

                <p>
                    <strong>Servicio:</strong>
                    Distribución de recursos
                </p>

            </div>

        </div>


        <div class="col-md-6">

            <div class="card p-4">

                <h4 class="text-primary">
                    Flask
                </h4>

                <p>
                    Framework utilizado para desarrollar
                    el backend de la aplicación.
                </p>

                <p>
                    <strong>Servicio:</strong>
                    Framework Python
                </p>

            </div>

        </div>

    </div>

</section>

{% endblock %}